---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: centos-7-vector-compat
    image: docker.io/pycontribs/centos:7
    pre_build_image: true
provisioner:
  name: ansible
  playbooks:
    converge: ../default/converge.yml
    verify: ../default/verify.yml
verifier:
  name: ansible
scenario:
  name: compatibility
  test_sequence:
    - destroy
    - create
    - converge
    - verify
    - destroy
