---
dependency:
  name: galaxy
driver:
  name: podman
platforms:
  - name: vector-tox-instance
    image: docker.io/pycontribs/debian:latest
    pre_build_image: true
provisioner:
  name: ansible
  playbooks:
    converge: ../default/converge.yml
verifier:
  name: ansible
scenario:
  name: tox
  test_sequence:
    - destroy
    - create
    - converge
    - destroy
