---
- name: Get OS family
  debug:
    var: ansible_os_family

- name: Install Vector on Debian/Ubuntu
  block:
    - name: Download Vector deb package
      ansible.builtin.get_url:
        url: "https://packages.timber.io/vector/{{ vector_version }}/vector_{{ vector_version }}-1_amd64.deb"
        dest: "/tmp/vector_{{ vector_version }}-1_amd64.deb"
        mode: 0644

    - name: Install Vector deb package
      become: true
      ansible.builtin.apt:
        deb: "/tmp/vector_{{ vector_version }}-1_amd64.deb"
        state: present
  when: ansible_os_family == "Debian"

- name: Install Vector on RedHat/CentOS
  block:
    - name: Download Vector rpm package
      ansible.builtin.get_url:
        url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-1.x86_64.rpm"
        dest: "/tmp/vector-{{ vector_version }}-1.x86_64.rpm"
        mode: 0644

    - name: Install Vector rpm package
      become: true
      ansible.builtin.yum:
        name: "/tmp/vector-{{ vector_version }}-1.x86_64.rpm"
        state: present
        disable_gpg_check: "{{ vector_disable_gpg_check | default(true) }}"
  when: ansible_os_family == "RedHat" and ansible_distribution != "Fedora"

- name: Install Vector on Fedora
  block:
    - name: Download Vector rpm package
      ansible.builtin.get_url:
        url: "https://packages.timber.io/vector/{{ vector_version }}/vector-{{ vector_version }}-1.x86_64.rpm"
        dest: "/tmp/vector-{{ vector_version }}-1.x86_64.rpm"
        mode: 0644

    - name: Install Vector rpm package with dnf
      become: true
      ansible.builtin.dnf:
        name: "/tmp/vector-{{ vector_version }}-1.x86_64.rpm"
        state: present
        disable_gpg_check: "{{ vector_disable_gpg_check | default(true) }}"
  when: ansible_distribution == "Fedora"
